<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资产列表</title>
    <header th:replace="header::html"></header>
</head>
<body class="">

<div class="layui-fluid">
    <div class="layui-row  layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form  layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username"  placeholder="请输入资产id" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>


                <div class="layui-card-body ">
                    <table class="layui-hide" id="table" lay-filter="member"></table>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    layui.use('table', function(){
        var table = layui.table,
            form=layui.form;
        table.render({
            elem: '#table'
            ,url: '/own/list' //数据接口
            ,page: true //开启分页
            ,response: {
                countName: 'count', //规定数据总数的字段名称，默认：count
                dataName: 'datas' //规定数据列表的字段名称，默认：data
            }
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: '资产ID', width: 60, align: 'center'}
                    , {field: 'projectId', title: '所属项目ID', width: 60, align: 'center'}
                    , {field: 'owner', title: '资产所有者'}
                    , {field: 'duration', title: '资产期限'}
                    // ,{field: 'status', title: '状态', width:120}
                    , {field: 'ifFinish', title: '是否完好'}
                    , {field:'checkTime',title:'检查时间'}
                    , {field:'status',title:'资产状态'}
                    , {field:'updateTime',title:'状态更新时间'}
                ]
            ]
        });

        //监听工具条
        table.on('tool(member)', function(obj){
            var data = obj.data;
            var userId = localStorage.getItem("userId");
            if(obj.event === 'edit'){
                xadmin.open('审批项目信息','/config/edit/?projectId='+ data.projectId);
            } else if(obj.event === 'agree'){
                layer.confirm('确认加入吗', function(index){
                    $.ajax({
                        url:"/config/confirm",
                        type:"GET",
                        data:{
                            projectId:data.projectId,
                            uId:userId
                        },
                        dataType:'json',
                        success:function(result){
                            if(result.code == 200){
                                layer.alert("操作成功", {icon: 1},function (index1) {
                                    layer.close(index1);
                                    //xadmin.father_reload();
                                    table.reload('table');
                                });
                            }else{
                                layer.alert(result.msg);
                            }

                        },
                    });
                });
            }
        })

        //搜索
        form.on('submit(search)', function(data){
            var projectname = data.field.name;
            table.render({
                elem: '#table'
                ,url: '/project/getById' //数据接口
                ,page: true //开启分页
                ,where:{
                    "projectname":projectname
                } ,response: {
                    dataName: 'datas' //规定数据列表的字段名称，默认：data
                }
                ,cols: [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        ,{field: 'id', title: 'ID',width:60,  align:'center'}
                        ,{field: 'name', title: '角色名'}
                        ,{field: 'description', title: '描述'}
                        // ,{field: 'status', title: '状态', width:120}
                        ,{field: 'updateTime', title: '最后操作时间'}
                        ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                    ]
                ]
            });
            return false;
        });
        checkPermission()
    });
</script>
</body>
</html>